body{
     background: url("images/shaker.jpg");
     background-repeat: no-repeat;
     background-size: auto;
}

.nav-title{
    font-family: 'Playfair Display', serif;
}

#cocktailName{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid black;

}

#home-main-image{
    border: 1px solid red;
}

h1{
    text-align: center;
}



